*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* global CSS */

.btn_primary{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  vertical-align:middle;
  color:green;
}

/* header section CSS start */
.header{
    background-image: url('/images/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: left;
}
.header_items{
    max-width: 525px;
    text-align: right;
    margin-left: auto;
    margin-right: 200px;
    padding-top: 220px;
    padding-bottom: 150px;
}
.header_title{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 25px;
}
.header_description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 30px;
}
/* main section CSS start */

.main{
    max-width: 1160px;
    padding: 0px 230px;
    padding-top:130px;
}
.profile_container{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-bottom: 130px;
}
.profile_title{

    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 20px;
}
.profile_title_description, .profile_description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 25px;
}

/* footer section CSS start */