*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* global CSS */

.btn_primary{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;
    background: #00892e;
    border-radius: 5px;
    border: none;
}

.material-symbols-outlined {
  vertical-align:middle;
  color:green;
}
.section{
    margin-bottom: 130px;
}
/* header section CSS start */
.header{
    background-image: url('./images/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: left;
}
.header_items{
    max-width: 525px;
    text-align: right;
    margin-left: auto;
    margin-right: 200px;
    padding-top: 220px;
    padding-bottom: 150px;
}
.header_title{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 25px;
}
.header_description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 30px;
}
/* main section CSS start */

.main{
    max-width: 1160px;
    padding: 0px 230px;
    padding-top:130px;
}

/* profile section CSS start */
.profile_container{
    display: flex;
    align-items: center;
    gap: 80px;
}
.profile_title{

    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 20px;
}
.profile_title_description, .profile_description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 25px;
}

/* plans section CSS start */
.plan_title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
}
.plan_items{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.plan_item_title{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
    padding: 15px 0px;
}
.plan_description{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #737272;
}

/* skill section CSS start */
.skill_container{
    text-align: center;
}
.skill_title{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
}
.skill_items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.skill_item{
    background-color: #d5e4d6;
    padding: 15px 15px;
    border-radius: 5px;
}
.skill_item img{
    width: 100px;
    height: 100px;
    padding-bottom: 15px;
}
.skill_item_title{
    font-size: 25px;
    font-weight: 700px;
    padding-bottom: 20px;
}


/* call section CSS start */
.call_container{
    background-image:linear-gradient(to left, rgba(77, 196, 77,0), rgba(77, 196, 77,.8)), url('/images/watch.png');
    background-size: cover;
    border-radius: 5px;
    text-align: left;
    padding-bottom: 60px;
}
.call_items{

    padding-top: 60px;
    padding-left: 60px;
}
.call_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    max-width: 500px;
    padding-bottom: 25px ;
}
.call_btn{
    background-color:#FFFFFF;
    color: #00892e;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 20px 35px;
    border-radius: 5px;
    border: none;
}

/* footer section CSS start */
.footer_container{
    background-color: black;
    color: #F8F8F8;
    padding-top: 120px;
    padding-bottom: 120px;
}
.footer_items{
    display: flex;
    padding: 0px 230px;
    gap: 330px;
}
.copyright{
    max-width: 400px;
}
.footer_title{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 20px;
}
.f_description{
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
}
.subscribe{
    max-width: 325px;
}
.sub_title{
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 25px;
}
.input_email{
    padding-bottom: 15px;
}
.input_email input{
    width: 100%;
    padding: 20px;
    background: none;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
}
.sub_btn{
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: white;
    color: #00892e;
    border-radius: 5px;
}
.f_icons{
    padding-top: 25px;
}